{% extends './base.html.twig' %}

{% block body %}
    <div>
        {% include 'custom_templates/navbar.html.twig' %}
    </div>

    {% if reservations|length > 0 %}
        <table class="styled-table">
            <thead>
            <tr class="active-row">
                <th>Desk Number</th>
                <th>Desk Name</th>
                <th>Room Name</th>
                <th>Reservation Time</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.desk_id }}</td>
                    <td>{{ reservation.desk_name }}</td>
                    <td>{{ reservation.room_name }}</td>
                    <td>{{ reservation.reservation_time|date('d.m.Y') }}</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <form class="no-style-form" method="post" action="{{ path('deleteReservations') }}">
                            <input type="hidden" name="email" value="{{ email }}">
                            <input type="hidden" name="reservation_id" value="{{ reservation.reservation_id }}">
                            <button class="delete-btn" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 style="text-align: center">No reservations found</h2>
    {% endif %}
{% endblock %}
