{% extends './base.html.twig' %}

{% block body %}

    <style>/* Modal Styles */
        /* Modal Styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            position: absolute;
            width: 30%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            text-align: center;
            display: inline-block;
        }

        .confirm-button{
            width: 40%;
            background-color: #44a046; /* Confirm button color */
            color: white;
            border: none;
            padding: 10px;
            margin: 5px;
            cursor: pointer;
        }
        .cancel-button {
            width: 40%;
            background-color: #d83a2f; /* Confirm button color */
            color: white;
            border: none;
            padding: 10px;
            margin: 5px;
            cursor: pointer;
        }
        .cancel-button:hover {
            width: 40%;
            background-color: #ffffff;
            color:  #d83a2f;
            border: 1px solid #d83a2f; /* Add a border with the desired color */
            border-radius: 5px; /* Adjust the border radius as needed */
            padding: 10px;
            margin: 5px;
            cursor: pointer;
        }


        /* Responsive design to make the buttons stack on smaller screens */
        @media (max-width: 768px) {
            .modal-content {
                width: 80%; /* Adjust the width for smaller screens */
            }

            .confirm-button,
            .cancel-button {
                width: 100%;
            }
        }

    </style>
    <div>
        {% include 'custom_templates/navbar.html.twig' %}
    </div>

    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <h5>Are you sure you want to delete this reservation?</h5>
            <button id="confirmBtn" class="confirm-button">Confirm</button>
            <button id="cancelBtn" class="cancel-button">Cancel</button>
        </div>
    </div>


    {% if reservations|length > 0 %}
        <table class="styled-table">
            <thead>
            <tr class="active-row">
                <th>Desk Number</th>
                <th>Desk Descriptions</th>
                <th>Room Name</th>
                <th>Reservation Time</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.desk_id }}</td>
                    <td>{{ reservation.desk_name }}</td>
                    <td>{{ reservation.room_name }}</td>
                    <td>{{ reservation.reservation_time|date('d.m.Y') }}</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <form class="no-style-form" id="form-{{ reservation.reservation_id }}" method="post" action="{{ path('deleteReservations') }}">
                            <input type="hidden" name="email" value="{{ email }}">
                            <input type="hidden" name="reservation_id" value="{{ reservation.reservation_id }}">
                            <button class="delete-btn" type="button" onclick="confirmDelete({{ reservation.reservation_id }})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 style="text-align: center">No reservations found</h2>
    {% endif %}
    <script>
        // JavaScript to show the modal when the delete button is clicked
        function confirmDelete(reservation_id) {
            var modal = document.getElementById('confirmationModal');
            var confirmBtn = document.getElementById('confirmBtn');
            var cancelBtn = document.getElementById('cancelBtn');

            modal.style.display = 'block';

            confirmBtn.onclick = function() {
                // If the user confirms, submit the form
                document.getElementById('form-' + reservation_id).submit();
            };

            cancelBtn.onclick = function() {
                modal.style.display = 'none';
            };

            // Close the modal if the user clicks outside the modal content
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            };
        }

    </script>
{% endblock %}


