{% extends './base.html.twig' %}

{% block body %}
    <div>
        {% include 'custom_templates/navbar.html.twig' %}
    </div>

    {% if reservations|length > 0 %}
        <table class="styled-table">
            <thead>
            <tr class="active-row">
                <th>Desk ID</th>
                <th>Desk Name</th>
                <th>Room Name</th>
                <th>Reservation Time</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.desk_id }}</td>
                    <td>{{ reservation.desk_name }}</td>
                    <td>{{ reservation.room_name }}</td>
                    <td>{{ reservation.reservation_time }}</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <form class="no-style-form" method="post" action="{{ path('deleteReservations') }}">
                            <input type="hidden" name="email" value="{{ email }}">
                            <input type="hidden" name="reservation_id" value="{{ reservation.reservation_id }}">
                            <button class="delete-btn" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 style="text-align: center">No reservations found</h2>
    {% endif %}
{% endblock %}
