{% extends './base.html.twig' %}

{% block body %}
    <div>
        {% include 'custom_templates/navbar.html.twig' %}
    </div>

    <div class="center-content" style="display: flex; align-items: center;">
        <h2 style="font-family: 'Arial', sans-serif; font-size: 24px; vertical-align: middle;">Date of reservation</h2>
        <form method="get" action="{{ path('booking') }}" style="display: flex; align-items: center;">
            <input class="date" type="date" name="date" value="{{ 'now'|date('Y-m-d') }}">
            <button style="margin-bottom: 15px" class="alert-btn pick" type="submit" style="vertical-align: middle;">Pick</button>
        </form>
    </div>

    <div style="text-align: center;">
        {% if freeDeskCounts is defined and freeDeskCounts|length > 0 %}
           <h2>Choose a room</h2>
        {% endif %}
        {% if noReservationCount is defined %}
            <p>Free desks at {{ pikedDate|date('d.m.Y') }}: <b>{{ noReservationCount }}</b></p>
        {% endif %}
    </div>

    <div class="alert-reservation-container">
        {% for flashType, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ flashType }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var alerts = document.querySelectorAll('.alert');
            setTimeout(function () {
                alerts.forEach(function (alert) {
                    alert.style.display = 'none';
                });
            }, 5000); // 5000 milliseconds (5 seconds)
        });
    </script>

    <div class="room-list">
        <ul>
            <div class="row">
                {% if freeDeskCounts is defined and freeDeskCounts|length > 0 %}
                    {% for room in freeDeskCounts %}
                        <form method="post" action="{{ path('rooms', {'room_id': room.room_id}) }}" class="room-form">
                            <input type="hidden" name="pikedDate" value="{{ pikedDate }}">
                            <button class="room-btn" type="submit">
                                <li class="rooms" style="background-image: url('{{ asset('images/' ~ room.room_image) }}');height: 250px; background-size: cover;">
                                    <h3 class="room-name">{{ room.room_name }}</h3>
                                    <div class="free-desks">
                                        (Free Desks: {{ room.free_desk_count }})
                                    </div>
                                </li>
                            </button>
                        </form>
                    {% endfor %}
                {% endif %}
            </div>
        </ul>
    </div>





{% endblock %}
