{% extends './base.html.twig' %}

{% block body %}

    <style>
        .desk-form {
            width: 48%; /* 48% to allow for a small margin between forms */
            margin: 1%;
            display: inline-block;
        }

        /* To ensure that the last form in the row is centered in case of an odd number of forms */
        .desk-form:last-child {
            margin-left: 0;
        }
        .desk-btn {
            width: 100%;
            height: 300px;
            background-size: cover; /* Cover the button fully */
            background-position: center; /* Center the background image */
            transition: transform 0.3s ease; /* Add a smooth transition effect for scaling */
        }

        .desk-btn:hover {
            transform: scale(1.05); /* Scale the button by 10% on hover */
        }
        .row{
            width: 100%;
        }
        li{
             list-style: none
         }


    </style>
    <div>
        {% include 'custom_templates/navbar.html.twig' %}
    </div>

    <div class="center-content">
        <h2 style="font-family: 'Arial', sans-serif; font-size: 24px;">Date of reservation in room <span
                    style="color: #488b12; font-family: 'Lato', sans-serif; font-size: 38px; font-weight: normal; line-height: 48px; margin: 0;">{{ roomName }}</span> for {{ date|date('d.m.Y') }}</h2>.

    </div>
    <div class="desk-list">
        <ul>
            <div class="row">
                {% for desk in desks %}
                <form method="post" class="desk-form" id="form-{{ desk.id }}" action="{{ path('deskReservation') }}">
                    <input type="hidden" name="date" value="{{ date }}">
                    <input type="hidden" name="roomName" value="{{ roomName }}">
                    <input type="hidden" name="deskId" value="{{ desk.id }}">
                    <input type="hidden" name="usersName" value="{{ usersName }}">
                    <li>
                        <button onclick="confirmReservation({{ desk.id }})" class="desk-btn" type="button" style="background-image: url('{{ asset('images/' ~ desk.image) }}');"></button>
                        <h3 style="margin-top: 15px">Desk# {{ desk.id }}</h3>
                        <h5>{{ desk.name }}</h5>
                    </li>
                </form>
                {% if loop.index % 2 == 0 or loop.last %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </ul>
    </div>


    <script>
        function confirmReservation(deskId) {
            if (confirm("Are you sure you want to make a reservation for Desk #" + deskId + "?")) {
                document.getElementById('form-' + deskId).submit();
            }
        }
    </script>






{% endblock %}
