{% extends './base.html.twig' %}

{% block body %}
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="flex-grow: 1;">
            {#            <h1>UserId: {{ userId }}</h1> #}
            {% if usersName is defined %}
                <div class="welcome-text">
                    <h1>Welcome, {{ usersName }}!</h1>
                </div>
            {% else %}
                <div class="welcome-text">
                    <h1>Welcome!</h1>
                </div>
            {% endif %}
        </div>
        <form class="form" method="get" action="{{ path('home') }}">
            <input type="hidden" name="usersName">
            <button class="info-btn">Home</button>
        </form>
        <form class="form" method="get" action="{{ path('logout') }}">
            <button class="alert-btn">Logout</button>
        </form>
    </div>

    <div class="center-content">
        <h2 style="font-family: 'Arial', sans-serif; font-size: 24px;">Date of reservation in room <span
                    style="color: #579e2f">{{ roomName }}</span> for {{ date }}</h2>

    </div>
    <div class="room-list">
        <ul>
            <div class="row">
                {% for deskId in desksId %}
                <form method="post" class="desk-form">
                        <button class="desk-btn" type="submit">
                        <li class="rooms"><h3>{{ deskId }}</h3></li>
                    </button>
                </form>

                    {% endfor %}
            </div>
        </ul>
    </div>


{% endblock %}
